@using TPAzure.Models

@model Advert
@{
    ViewBag.Title = "Add";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
@using (Html.BeginForm("Add", "Add",new { newAdvert = Model  }, FormMethod.Post, new { @class = "form-horizontal", role = "form", @style = "color: black" }))
{

    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label", @style = "color: black" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Price, new { @class = "col-md-2 control-label", @style = "color: black" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Price, new { htmlAttributes = new { @type = "number",@class = "form-control" } })
            @Html.ValidationMessageFor(m => m.Price, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ImgPath, new { @class = "col-md-2 control-label", @style = "color: black" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.ImgPath, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ImgPath, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Log in" class="btn btn-default" />
        </div>
    </div>
}
